<p>repositoryinfo works!</p>
<div>
    
</div>
<div class="container">
    <h4 class="text-center h4 text-white text-white">Check Out Github User Profiles Here!</h4>
    <app-search (emitsearchtxt)="searchRepo($event)"></app-search>
    <hr>
</div>
<div class="container">
    <p>Look for a certain Github user </p>
</div>
<div class="container">
    
    <div class="card" *ngFor="let repo of repos">
        <h2 class="text-center h2 h2-responsive text-blue animated swing delay-3s">{{searchtxt}} GITHUB REPOSITORIES </h2>
        <div class="card">
          <div class="card-header text-center blue-gradient text-white"><h2>{{repo.name}}</h2></div>
          <div class="card-body">
            <p class="card-text"><strong>Description: </strong>{{repo.description}}</p>
            <p class="card-text"><strong>Create at: </strong>{{repo.created_at|date}}</p>
            <p class="card-text"> <strong>Language: </strong> {{repo.language}}.</p>
            <!-- Button -->
            <a href="{{repo.html_url}}" target="_blank" class="btn btn-info btn-lg btn-block">Check it on Github</a>
          </div>
          <div class="card-footer flex-footer">
            <small class="text-muted"><strong>Branch: </strong>{{repo.default_branch}} </small>
            <small class="text-muted ml-4"><strong> Forks: </strong>{{repo.forks_count}}</small>
  
          </div>
        </div>
      </div>

</div>